<ion-header>
		<ion-toolbar color="primary" mode="ios">
      <ion-buttons slot="start">
		  <ion-menu-button ></ion-menu-button>
		  <ion-icon icon="../../assets/icon/arrow-left-solid.svg" (click)="BotonRegresar()"></ion-icon>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
		<!-- <ion-item *ngIf="registros == 0; else elseBlock">
			<div class="sec2">
				<p class="fontPrimaria" style="padding:20px;margin: 0px;">
					Aun no hay fotos de Evidencia que mostrar
				</p>
			</div>
		</ion-item> -->

		<!-- <ng-template #elseBlock> -->
		<ion-item style="padding: 20px;" *ngFor="let item of todo | async" >
			<div *ngIf="FBcode == item.identificador">
				<ion-item >
			<ion-avatar item-start style="border-radius: 0;" (click)="Open('D', item.url)">
				<img style="width: 200px; height: 150px; border: #FDC938 3px solid; border-radius: 0;" [src]="item.url">
			</ion-avatar>
			<ion-note item-end>
				<!-- <h3 style="font-size: 20px; color: #404040;"><b>Nombre:</b> {{ registro.photoName }}</h3>
				<h3 style="font-size: 12px; color: #404040;"><b>Descripción:</b> {{ registro.description }}</h3>
				<h3 style="font-size: 12px; color: #404040;"><b>Latitud:</b> {{ registro.geoLatitude }}</h3>
				<h3 style="font-size: 12px; color: #404040;"><b>Longitud:</b> {{ registro.geoLongitude }}</h3> -->
				<h3 style="font-size: 12px; color: #404040;"><b>¿Quién la subió?:</b> {{ item.nombre }}</h3>
				<!-- <h3 style="font-size: 12px; color: #404040;"><b>Fecha - Hora:</b> {{ registro.creationDate }}</h3> -->
			</ion-note>
				</ion-item>
		</div>
		
		</ion-item>
		<!-- </ng-template> -->
	</ion-list>
</ion-content>

<ion-footer>
	<ion-grid>
	  <ion-row>
		<ion-col size="12">
		  <ion-col size="6">
			<ion-icon class="icon-action-buttons" name="camera" (click)="takePicturesCamera()" style="font-size: 30px;"></ion-icon>
		  </ion-col>
		  <ion-col size="6">
			<ion-icon class="icon-action-buttons" name="images" (click)="takePicturesGallery()" style="font-size: 30px;"></ion-icon>
		  </ion-col>
		</ion-col>
	  </ion-row>
	</ion-grid>
  </ion-footer>
