<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-title>Firma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
    <signature-pad [options]="signaturePadOptions" id="signatureCanvas" style="margin-left: 5%;margin-right: 5%; " class="firma"></signature-pad>

    <ion-grid>
      <ion-row>

        <ion-col size="4">
          <ion-button color="danger" (click)="drawCancel()">Cancelar</ion-button>
        </ion-col>

        <ion-col size="4">
            <ion-button color="light" (click)="drawClear()">Borrar</ion-button>
        </ion-col>

        <ion-col size="4">
            <ion-button color="secondary" (click)="drawComplete()">Guardar</ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
</ion-content>
