<ion-header>
  <ion-toolbar color="primary">
      <ion-title>Instalado</ion-title>
      <ion-buttons end>
        <button ion-button (click)="closeModal()">Cerrar</button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card >
        <div style="margin-left: 20%">
        <ion-item>
          <ion-label>Cantidad Total de la Tarea</ion-label>
          <ion-label style="font-weight: bold;">{{ cantidad}}</ion-label>
        </ion-item>
    
        <ion-item>
          <ion-label >Avance Actual</ion-label>
          <ion-label style="font-weight: bold;">{{ avanceActual }}</ion-label>
        </ion-item>
    
          <ion-item>
            <ion-label>Agregar Avance</ion-label><br/>
            <ion-input placeholder="Escriba Aqui" [(ngModel)]="dato" (ionChange)='onChangeUserValue()'></ion-input>
          </ion-item>
    
          <ion-item>
            <button ion-button color="danger" style="border-radius: 10px;" (click)="closeModal()">Cancelar</button>
            <button ion-button style="border-radius: 10px;" (click)="showPrompt()"  id="btn-login" disabled>Aceptar</button>
          </ion-item>
    
        </div>
    </ion-card>
    
    
</ion-content>
