<!-- <ion-header>
  <ion-toolbar>
    <ion-title>tab1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
 -->
 <ion-app>

 <ion-header>
    <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Proyectos</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content class="padding">


  <!-- <ion-button expand="block" routerLink="/menu/first/tabs/tab1/details" routerDirection="forward">
    Details forward
  </ion-button> -->

  <ion-list class="list-md">
    
     <!--  <button class="ion-activatable item-block item-md" *ngFor="let proyecto of proyectos" (click)="itemSelected(proyecto)">
          <ion-item class="item-md ">
            <ion-label class="label-md item-md2">
              <div class="item-inner">
                <ion-icon class="icon-item-list item-left" name="folder"></ion-icon>
                  {{proyecto.description}}
            </div>
            </ion-label>
      </ion-item>
      <ion-ripple-effect></ion-ripple-effect>
      </button> -->

      <ion-item class="" *ngFor="let proyecto of proyectos" (click)="itemSelected(proyecto)" style="width: 95%;">
        <ion-label style="font-size: 16px; color: #808080;">
            <ion-icon slot="start" name="folder" style="font-size: 15px; color: #808080;"></ion-icon>
            {{proyecto.description}}
        </ion-label>
      </ion-item>
    
  </ion-list>
  
</ion-content>
</ion-app>